<div id="mentionable-data" data-content="<%= mentionable_user_path(current_user) %>"></div>
<%= form_tag "/comments?commentable_id=#{commentable.id}&commentable_type=#{commentable.class.to_s}", id: 'new_comment', method: :post, remote: true do %>
  <div class="form-group">
    <!--<div id="comment-text" contenteditable="true" class="editable form-control input-mentionable" placeholder="Enter Comment"></div>-->

    <%= text_area :comment, :comment , placeholder: 'Enter Comment', class: 'form-control input-mentionable', style: "resize:none"%>
  </div>
  <%= submit_tag :comment, class: 'btn btn-primary' %>
<% end %>
